# User-specific files
*.user

# Visual Studio cache/options directory
.vs/

# Binary intermediate representation of Nuance.rc
Nuance.aps

# Build results
[Dd]ebug/
[Rr]elease/
build/
build32/
build64/
build-libretro/
build-libretro64/

# Case-sensitivity symlinks (Linux only)
GLWindow.h
NuonEnvironment.h
NativeCodeCache.h
