;The DVDBase option allows configuration of a directory path that is prepended to all file names passed to the
;media and filesystem routines.
;[DVDBase]
;c:/blah/

;Disabling can be faster, but will make some games buggy
[AudioInterrupts]
Enabled

;Enabling is always faster, but still has some few issues (see GameCompatibility.txt, T3K)
[DynamicCompiler]
Enabled

;Still buggy
[CompilerConstantPropagation]
Disabled

;Still buggy
[CompilerDeadCodeElimination]
Disabled

;When DumpCompiledBlocks is enabled, the compiler will keep logs of the compiled blocks for each processor
[DumpCompiledBlocks]
Disabled

;The T3KCompilerHack option needs to be turned on if the dynamic compiler is enabled in order for T3K to be playable
;NOTE: This does not seem to be needed nowadays anymore, but i left it in for now, lets see
[T3KCompilerHack]
Disabled

;CycleBasedTiming currently does not work
;[CycleBasedTiming]
Disabled
